<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>美嘉达商场</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=""> {{thisUser.userName}}，欢迎回来美嘉达商城</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userHome/{{thisUser.id}}">商城主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myfavorites/{{thisUser.id}}">我的收藏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/mycart/{{thisUser.id}}">购物车</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/orderInfo/{{thisUser.id}}">订单信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/service/{{thisUser.id}}">联系客服</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/myaccount/{{thisUser.id}}">编辑个人信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/{{thisUser.id}}">登出</a>
                </li>
            </ul>
            <form action="/search" class="form-inline my-2 my-lg-0" method="GET">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="商品名称/类别/颜色">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索商品</button>
            </form>
        </div>
    </nav>
    <ul>
        {% if messages %}
        {% for m in messages %}
        <li>{{m}}</li>
        {% endfor %}
        {% endif %}
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="slider">
                    <ul id="slides" class="slides clearfix">
                        {% for i in ad %}
                        <li><img class="responsive" src="{{i.ad.url}}"></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    var len = $(".slider li").length - 1;
                    //给slider设置样式
                    $(".slider").css({
                        "width": "99%",
                        "height": "inherit",
                        "overflow": "hidden",
                        "display": "inline-block"
                    });

                    //给ul设置宽度
                    $(".slides").css({
                        "position": "relative",
                        "width": ((len + 1) * 100).toString() + "%",
                        "margin": "0",
                        "padding": "0"
                    });
                    //给li设置百分比宽度
                    $(".slides li").css({
                        "width": (100 / (len + 1)).toString() + "%",
                        "float": "left"
                    });
                    //给图片设置宽度
                    $(".responsive").css({
                        "width": "100%",
                        "height": "inherit"
                    });
                    //控制点样式
                    $(".slider p").css({
                        "position": "absolute",
                        "z-index": "999",
                        "cursor": "pointer"
                    });
                    $(".slider .lastpic").css({
                        "left": "0",
                        "margin-top": "7%"
                    });
                    $(".slider .nextpic").css({
                        "right": "0",
                        "margin-top": "7%"
                    });
                    //animate移动
                    var i = 0;
                    $(".nextpic").click(function () {
                        moveNext(i);
                    });
                    $(".lastpic").click(function () {
                        moveLast(i);
                    });
                    //自动轮播
                    var timer = setInterval(function () {
                        moveNext(i);
                    }, 5000);
                    moveNext = function (n) {
                        if (n == len) {
                            i = -1;
                            $(".slider .slides").animate({ right: "" }, 800);
                        } else {
                            $(".slider .slides").animate({ right: ((n + 1) * 100).toString() + "%" }, 800);
                        }
                        i++;
                    }
                    moveLast = function (n) {
                        if (n == 0) {
                            i = len + 1;
                            $(".slider .slides").animate({ right: (len * 100).toString() + "%" }, 800);
                        } else {
                            $(".slider .slides").animate({ right: ((n - 1) * 100).toString() + "%" }, 800);
                        }
                        i--;
                    }
                    //手机触摸效果
                    var startX, endX, moveX;
                    function touchStart(event) {
                        var touch = event.touches[0];
                        startX = touch.pageX;
                    }
                    function touchMove(event) {
                        var touch = event.touches[0];
                        endX = touch.pageX;
                    }
                    function touchEnd(event) {
                        moveX = startX - endX;
                        if (moveX > 50) {
                            moveNext(i);
                        } else if (moveX < -50) {
                            moveLast(i);
                        }
                    }
                    document.getElementById("slides").addEventListener("touchstart", touchStart, false);
                    document.getElementById("slides").addEventListener("touchmove", touchMove, false);
                    document.getElementById("slides").addEventListener("touchend", touchEnd, false);


                });
            </script>
            <div class="col-3"></div>
        </div>
        <br>
        {% if not products %}
        <p>很遗憾，我们没有找到匹配商品<a id="login" class="nav-link" href="/userHome/{{thisUser.id}}">返回</a></p>
        {% endif %}
        <div class="row">
            {% for p in products %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">产品名称：{{p.name}}</h5>
                        <p class="card-text">产品类别：{{p.category}}</p>
                        <p class="card-text">零售价格：￥{{p.price}}</p>
                        <img src="{{p.img1.url}}" class="card-img-top">
                        <br>
                        <br>
                        <button class="btn btn-info" id="info"><a id="textcolor" href="/user/product/detail/{{p.id}}/{{thisUser.id}}">商品详情</a></button>
                        <button class="btn btn-success" id="add"><a id="textcolor" href="/user/shoppingPage/{{p.id}}/{{thisUser.id}}">加入购物车</a></button>

                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>

    </div>

    <style>
        #info {
            float: left;
        }

        #add {
            float: right;
        }

        #textcolor {
            color: white;
        }

        #login {
            color: green;
        }
    </style>
</body>

</html>